<div id="gallery">
	<div class="slideLeft">
		<div style="width: 50%; height: 400px; position: absolute; left: 0; top: 0; outline: 1px solid red" class="leftLeftCarousel">
			Hihi
		</div>
		<div style="width: 100%; height: 200px; position: absolute; left: 0; bottom: 0; outline: 1px solid red" class="leftLeftCarousel">
			meme
		</div>
		<div style="width: 50%; height: 200px; position: absolute; right: 0; top: 0; outline: 1px solid red" class="leftLeftCarousel">
			haha
		</div>
		<div style="width: 100%; height: 200px; position: absolute; left: 50%; top: 200px; outline: 1px solid green" class="leftLeftCarousel">
			profile
		</div>
	</div>
	<div class="slideRight">

	</div>

</div>

