<div class="row">
	<div class="span12 itemPageProfile">
		<div class="floatLeft">
			<a href="/gunpla"><img src="/assets/profile.png"/></a>
		</div>
		<div class="floatLeft">
			<h3 class="elsie">Hachiroku 86</h3>
			<span>owned by <a href="/gunpla">Jaiel Haevin</a></span>
		</div>
	</div>
</div>
<div class="row">
	<div class="span8">	
		Image + carousel
	</div>
	
	<div class="span4">	
		Name and description
	</div>	
</div>
<div class="row">
	<div class="span8">
		Messages
	</div>
	
</div>