<div id="gallery">
	<div class="left ditem" style="width:50%; float:left; position: absolute; left:0;">
		<img src="/assets/middle1.jpg" style="width: 100%; height: 100%" />
	</div>
	<div class="right ditem" style="width:50%; float:left; position: absolute; right:0;">
		<img src="/assets/middle2.jpg" style="width: 100%; height: 100%" />
	</div>
<a class='btn btn-large btn-info' style="position: absolute; z-index: 1000;" href="#" id="openGallery">Open</a>
