<div id="gallery">
	<div class="gallerySpan4">
		<div id="leftTopLeftCarousel" class="carousel">
		  <!-- Carousel items -->
		  <div class="carousel-inner">
		    <div class="active item"><img src="/assets/leftbottomleft1.jpg"/></div>
		    <div class="item"><img src="/assets/leftbottomleft2.jpg"/></div>
		    <div class="item"><img src="/assets/leftbottomleft3.jpg"/></div>
		  </div>
		</div>
		<div id="leftTopRightCarousel" class="carousel">
		  <!-- Carousel items -->
		  <div class="carousel-inner">
		    <div class="active item"><img src="/assets/leftbottomright1.jpg"/></div>
		    <div class="item"><img src="/assets/leftbottomright2.jpg"/></div>
		    <div class="item"><img src="/assets/leftbottomright3.jpg"/></div>
		  </div>
		</div>
		<div id="leftMiddleCarousel" class="carousel clearfix">
		  <!-- Carousel items -->
		  <div class="carousel-inner">
		    <div class="active item"><img src="/assets/middle2.jpg"/></div>
		    <div class="item"><img src="/assets/middle1.jpg"/></div>
		    <div class="item"><img src="/assets/middle3.jpg"/></div>
		  </div>
		</div>
		<div id="leftBottomLeftCarousel" class="carousel">
		  <!-- Carousel items -->
		  <div class="carousel-inner">
		    <div class="active item"><img src="/assets/leftbottomleft1.jpg"/></div>
		    <div class="item"><img src="/assets/leftbottomleft2.jpg"/></div>
		    <div class="item"><img src="/assets/leftbottomleft3.jpg"/></div>
		  </div>
		</div>
		<div id="leftBottomRightCarousel" class="carousel">
		  <!-- Carousel items -->
		  <div class="carousel-inner">
		    <div class="active item"><img src="/assets/leftbottomright1.jpg"/></div>
		    <div class="item"><img src="/assets/leftbottomright2.jpg"/></div>
		    <div class="item"><img src="/assets/leftbottomright3.jpg"/></div>
		  </div>
		</div>

	</div>
	<div class="gallerySpan4">
		<div id="middleTopCarousel" class="carousel">
		  <!-- Carousel items -->
		  <div class="carousel-inner">
		    <div class="active item"><img src="/assets/middle1.jpg"/></div>
		    <div class="item"><img src="/assets/middle2.jpg"/></div>
		    <div class="item"><img src="/assets/middle3.jpg"/></div>
		  </div>
		</div>
		<div id="middleBottomCarousel" class="carousel">
		  <!-- Carousel items -->
		  <div class="carousel-inner">
		    <div class="active item"><img src="/assets/middle3.jpg"/></div>
		    <div class="item"><img src="/assets/middle2.jpg"/></div>
		    <div class="item"><img src="/assets/middle1.jpg"/></div>
		  </div>
		</div>
	</div>
	<div class="gallerySpan4">
		<div id="leftTopLeftCarousel" class="carousel">
		  <!-- Carousel items -->
		  <div class="carousel-inner">
		    <div class="active item"><img src="/assets/leftbottomleft1.jpg"/></div>
		    <div class="item"><img src="/assets/leftbottomleft2.jpg"/></div>
		    <div class="item"><img src="/assets/leftbottomleft3.jpg"/></div>
		  </div>
		</div>
		<div id="leftTopRightCarousel" class="carousel">
		  <!-- Carousel items -->
		  <div class="carousel-inner">
		    <div class="active item"><img src="/assets/leftbottomright1.jpg"/></div>
		    <div class="item"><img src="/assets/leftbottomright2.jpg"/></div>
		    <div class="item"><img src="/assets/leftbottomright3.jpg"/></div>
		  </div>
		</div>
		<div id="leftMiddleCarousel" class="carousel clearfix">
		  <!-- Carousel items -->
		  <div class="carousel-inner">
		    <div class="active item"><img src="/assets/middle2.jpg"/></div>
		    <div class="item"><img src="/assets/middle1.jpg"/></div>
		    <div class="item"><img src="/assets/middle3.jpg"/></div>
		  </div>
		</div>
		<div id="leftBottomLeftCarousel" class="carousel">
		  <!-- Carousel items -->
		  <div class="carousel-inner">
		    <div class="active item"><img src="/assets/leftbottomleft1.jpg"/></div>
		    <div class="item"><img src="/assets/leftbottomleft2.jpg"/></div>
		    <div class="item"><img src="/assets/leftbottomleft3.jpg"/></div>
		  </div>
		</div>
		<div id="leftBottomRightCarousel" class="carousel">
		  <!-- Carousel items -->
		  <div class="carousel-inner">
		    <div class="active item"><img src="/assets/leftbottomright1.jpg"/></div>
		    <div class="item"><img src="/assets/leftbottomright2.jpg"/></div>
		    <div class="item"><img src="/assets/leftbottomright3.jpg"/></div>
		  </div>
		</div>

	</div>

</div>

<div class="container">
	<div id="profileModal" class="row">
		<div class="span12">
			<div class="wrapper">
				<div class="leftColumn floatLeft">
					<img src="/assets/profile.png"/>
				</div>
				<div class="middleColumn floatLeft">
					<h3>Jaiel Haevin</h3>
					<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
					<span class="label label-warning">Diecast</span>
					<span class="label label-warning">Trucks</span>
					<span class="label label-warning">Cars</span>
					<span class="label label-warning">1/12</span>
				</div>
				<div class="rightColumn floatLeft">
					<div><span class="statsFigures">88</span><span class="statsLabels">Items</span></div>				
					<div><span class="statsFigures">888</span><span class="statsLabels">Followers</span></div>	
					<div><span class="statsFigures">88,888</span><span class="statsLabels">Likes</span></div>	
					<div><span class="statsFigures">888,888</span><span class="statsLabels">Value</span></div>	

					<a class="btn btn-large btn-success">See My Kollection</a>
				</div>
			</div>
		</div>
	</div>
</div>

