<div class="row gallery">
	<div class="span12">
		<div class="gallerySpan4">
			<div id="leftTopCarousel" class="carousel">
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item"><img src="/assets/lefttop1.jpg"/></div>
			    <div class="item"><img src="/assets/lefttop2.jpg"/></div>
			    <div class="item"><img src="/assets/lefttop3.jpg"/></div>
			    <div class="item"><img src="/assets/lefttop4.jpg"/></div>
			  </div>
			</div>

			<div id="leftBottomLeftCarousel" class="carousel floatLeft">
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item"><img src="/assets/leftbottomleft1.jpg"/></div>
			    <div class="item"><img src="/assets/leftbottomleft2.jpg"/></div>
			    <div class="item"><img src="/assets/leftbottomleft3.jpg"/></div>			    
			  </div>
			</div>
			<div id="leftBottomRightCarousel" class="carousel floatLeft">
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item"><img src="/assets/leftbottomright1.jpg"/></div>
			    <div class="item"><img src="/assets/leftbottomright2.jpg"/></div>
			    <div class="item"><img src="/assets/leftbottomright3.jpg"/></div>			    
			    <div class="item"><img src="/assets/leftbottomright4.jpg"/></div>			    
			  </div>
			</div>

		</div>
		<div class="gallerySpan4">
			<div id="middleCarousel" class="carousel">
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item"><img src="/assets/middle1.jpg"/></div>
			    <div class="item"><img src="/assets/middle2.jpg"/></div>
			    <div class="item"><img src="/assets/middle3.jpg"/></div>
			  </div>
			</div>
		</div>
		<div class="gallerySpan4">
			<div id="rightTopLeftCarousel" class="carousel floatLeft">
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item"><img src="/assets/leftbottomleft3.jpg"/></div>
			    <div class="item"><img src="/assets/leftbottomleft2.jpg"/></div>
			    <div class="item"><img src="/assets/leftbottomleft1.jpg"/></div>			    
			  </div>
			</div>
			<div id="rightTopRightCarousel" class="carousel floatLeft">
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item"><img src="/assets/leftbottomright4.jpg"/></div>
			    <div class="item"><img src="/assets/leftbottomright3.jpg"/></div>
			    <div class="item"><img src="/assets/leftbottomright2.jpg"/></div>			    
			    <div class="item"><img src="/assets/leftbottomright1.jpg"/></div>			    
			  </div>
			</div>
			<div id="rightBottomCarousel" class="carousel">
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item"><img src="/assets/lefttop4.jpg"/></div>
			    <div class="item"><img src="/assets/lefttop3.jpg"/></div>
			    <div class="item"><img src="/assets/lefttop2.jpg"/></div>
			    <div class="item"><img src="/assets/lefttop1.jpg"/></div>
			  </div>
			</div>
			
		</div>
	</div>
	<div class="span12">
		<div class="row">
			<div class="span2">
				<div id="profilePic">
					<img src="/assets/profile.png" alt="Pic" />
					<a class="btn btn-success">Following</a>
				</div>
			</div>
			<div class="span6">
				<div id="profileDescription">
					<h3 class="elsie">Jaiel Haevin</h3>
					<span>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</span>
				</div>
			</div>
			<div class="span4">
				<div id="profileStats">
					<ul>
						<li>
							<a href="#">
								<span class="count">99,999</span>
								<span class="meta">Liked</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="count">3,201</span>
								<span class="meta">Followers</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="count">201</span>
								<span class="meta">Following</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="span12 kollectionWrapper">
		<div class="row">
			<div class="span8">
				<h2 class="elsie kollectionTitle">Jaiel's Kollection</h2>
				<div class="accordion" id="accordion2">
					<div class="kollectionRow">
						<div class="accordion-group">
							<div class="kollectionHeading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
					        		<img class="kollectionTile" src="/assets/kollection1.png" />
									<span>Cars</span>
								</a>
							</div>
						</div>
						<div class="accordion-group">
							<div class="kollectionHeading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
									<img class="kollectionTile" src="/assets/kollection2.png" />
									<span>Trucks</span>
								</a>
							</div>
						</div>
					</div>
					<div class="itemRow">
						<div id="collapseOne" class="accordion-body collapse">
							<div class="accordioninner itemList">
								<div class="stacktwo">
								   <img src="http://lorempixum.com/200/200/city/7">
								</div>

								<div class="stackone">
								   <img src="http://lorempixum.com/200/200/city/7">
								</div>

								<div class="stackthree">
								   <img src="http://lorempixum.com/200/200/city/7">
								</div>

								<div class="stackfour">
								   <img src="http://lorempixum.com/200/200/city/7">
								</div>
							</div>
						</div>
						<div id="collapseTwo" class="accordion-body collapse">
							<div class="accordioninner itemList">
								<div class="stacktwo">
								   <img src="http://lorempixum.com/200/200/city/7">
								</div>

								<div class="stackone">
								   <img src="http://lorempixum.com/200/200/city/7">
								</div>

								<div class="stackthree">
								   <img src="http://lorempixum.com/200/200/city/7">
								</div>

								<div class="stackfour">
								   <img src="http://lorempixum.com/200/200/city/7">
								</div>
							</div>
						</div>	
					</div>
				</div>		
			</div>

			<div class="span4">
				<h3 class="elsie">Stats & Figures</h3>
			</div>
		</div>
	</div>
</div>