

<div class="container" id="comingSoon">

		<div class="row">
			<div class="span12">
				<h2 class="petit">Coming Soon...!</h2>
				<p class="copy">aaaaaa</p>
				
				<!-- Begin LaunchRock Widget -->
				<div id="lr-widget" rel="BFTOUKOY"></div>
				<script type="text/javascript" src="//ignition.launchrock.com/ignition-current.min.js"></script>
				<!-- End LaunchRock Widget -->
				
<!--				<div class="signUpFormWrapper">
					<form>
						<input type="text" name="email" placeholder="Email">
					  	<input type="text" name="collection" placeholder="What are you collecting?">
					  	<input type="submit" value="Reserve a Slot" class="btn btn-large btn-success">

					</form>
				</div>-->
			</div>
		</div>

</div>