<div id="gallery">
	<div class="slideLeft">
		<div class="carouselDiv">

			<div id="leftSlidePortraitCarousel" class="carousel">
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item"><img src="/assets/leftportrait1.jpg"/></div>
			    <div class="item"><img src="/assets/leftportrait2.jpg"/></div>
			    <div class="item"><img src="/assets/leftportrait3.jpg"/></div>
			  </div>
			</div>

			<div id="leftSlideLandscapeCarousel1" class="carousel">
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item"><img src="/assets/leftlandscapeone1.jpg"/></div>
			    <div class="item"><img src="/assets/leftlandscapeone2.jpg"/></div>
			    <div class="item"><img src="/assets/leftlandscapeone3.jpg"/></div>
			  </div>
			</div>

			<div id="leftSlideLandscapeCarousel2" class="carousel">
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item"><img src="/assets/leftlandscapetwo1.jpg"/></div>
			    <div class="item"><img src="/assets/leftlandscapetwo2.jpg"/></div>
			    <div class="item"><img src="/assets/leftlandscapetwo3.jpg"/></div>
			  </div>
			</div>

			<div id="leftSlideLandscapeCarousel3" class="carousel">
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item"><img src="/assets/leftlandscapethree1.jpg"/></div>
			    <div class="item"><img src="/assets/leftlandscapethree2.jpg"/></div>
			    <div class="item"><img src="/assets/leftlandscapethree3.jpg"/></div>
			  </div>
			</div>

			<div id="leftSlideLandscapeCarousel0" class="carousel">
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item"><img src="/assets/leftlandscapetwo3.jpg"/></div>
			  </div>
			</div>
						
		</div>
	</div>
	<div class="slideRight">
		<div class="carouselDiv">
			
			<div id="rightSlidePortraitCarousel" class="carousel">
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item"><img src="/assets/rightportrait1.jpg"/></div>
			    <div class="item"><img src="/assets/rightportrait2.jpg"/></div>
			    <div class="item"><img src="/assets/rightportrait3.jpg"/></div>
			  </div>
			</div>
			
			<div id="rightSlideLandscapeCarousel1" class="carousel">
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item"><img src="/assets/rightlandscapeone1.jpg"/></div>
			    <div class="item"><img src="/assets/rightlandscapeone2.jpg"/></div>
			    <div class="item"><img src="/assets/rightlandscapeone3.jpg"/></div>
			  </div>
			</div>
			
			<div id="rightSlideLandscapeCarousel2" class="carousel">
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item"><img src="/assets/rightlandscapetwo1.jpg"/></div>
			    <div class="item"><img src="/assets/rightlandscapetwo2.jpg"/></div>
			    <div class="item"><img src="/assets/rightlandscapetwo3.jpg"/></div>
			  </div>
			</div>

			<div id="rightSlideLandscapeCarousel3" class="carousel">
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item"><img src="/assets/rightlandscapethree1.jpg"/></div>
			    <div class="item"><img src="/assets/rightlandscapethree2.jpg"/></div>
			    <div class="item"><img src="/assets/rightlandscapethree3.jpg"/></div>
			  </div>
			</div>
			
			<div id="rightSlideLandscapeCarousel0" class="carousel">
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item"><img src="/assets/rightlandscapetwo2.jpg"/></div>
			  </div>
			</div>
					
		</div>


		<!-- Profile -->
		<div id="profileCarousel">
			<div class="wrapper">
				<div class="leftColumn floatLeft">
					<img src="/assets/profile.png"/>
					<a class="btn btn-info" href="#">Follow</a>
				</div>
				<div class="middleColumn floatLeft">
					<h3>Jaiel Haevin</h3>
					<p>"A 40-something classic diecast car collector. I have been collecting for more than 20 years"</p>
					<span class="label label-warning">Diecast</span>
					<span class="label label-warning">Classic</span>
					<span class="label label-warning">Cars</span>
					<span class="label label-warning">1:18</span>
					<span class="label label-warning">1:43</span>
				</div>
				<div class="rightColumn floatLeft">
					<div class="clearfix"><span class="statsFigures">25</span><span class="statsLabels">Items</span></div>				
					<div class="clearfix"><span class="statsFigures">555</span><span class="statsLabels">Followers</span></div>	
					<div class="clearfix"><span class="statsFigures">9,188</span><span class="statsLabels">Likes</span></div>	

					<a id="openGallery" class="btn btn-large btn-success">See My Kollection</a>
				</div>
			</div>

		</div>
		<!-- Profile -->

	</div>

</div>


