<div class="accordion kollectionRow" id="accordion2">
	<div class="accordion-group">
		<div class="kollectionHeading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        		<img class="kollectionTile" src="/assets/kollection1.png" />
				<span>Cars</span>
			</a>
		</div>
		<div id="collapseOne" class="accordion-body clearfix collapse">
			<div class="accordioninner">
				<div class="stacktwo">
				   <img src="http://lorempixum.com/200/200/city/7">
				</div>

				<div class="stackone">
				   <img src="http://lorempixum.com/200/200/city/7">
				</div>

				<div class="stackthree">
				   <img src="http://lorempixum.com/200/200/city/7">
				</div>

				<div class="stackfour">
				   <img src="http://lorempixum.com/200/200/city/7">
				</div>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="kollectionHeading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
				<img class="kollectionTile" src="/assets/kollection2.png" />
				<span>Trucks</span>
			</a>
		</div>
		<div id="collapseTwo" class="accordion-body clearfix collapse">
			<div class="accordioninner">
				<div class="stacktwo">
				   <img src="http://lorempixum.com/200/200/city/7">
				</div>

				<div class="stackone">
				   <img src="http://lorempixum.com/200/200/city/7">
				</div>

				<div class="stackthree">
				   <img src="http://lorempixum.com/200/200/city/7">
				</div>

				<div class="stackfour">
				   <img src="http://lorempixum.com/200/200/city/7">
				</div>
			</div>
		</div>
	</div>
</div>